on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
name: Bicep
jobs:
  Production:
    name: Production
    environment: Production
    runs-on: ubuntu-latest
    steps:

      # Checkout code
    - uses: actions/checkout@main

      # Log into Azure
    - uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Deploy Bicep file
    - name: Build Connectivity Infra
      uses: azure/arm-deploy@v1
      with:
        scope: resourcegroup
        resourceGroupName: bldazure-connectivity-production
        region:  westeurope
        template: ./Modules/Connectivity/main.bicep
        failOnStdErr: false
